@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html.dark {
  --bg: #242424;
  --bg-calc: #161616;
  --box-shadow-calc: #161616;
  --special-btn: #1CCFB9;
  --calc-btn-bg: #282B34;
  --text: #FBFFFF;
  --theme-icons: white;
  --theme-btn-active: #363C52;
  --theme-not-active: #52555E;
  --theme-btn-not-active: #2A2C38;
  transition: 0.3s ease;
}

html.light {
  --bg: #242424;
  --bg-calc: #f7f7f7;
  --box-shadow-calc: #afafaf5e;
  --special-btn: #6C6C6C;
  --calc-btn-bg: #eeeeee;
  --text: #343333;
  --theme-icons: white;
  --theme-btn-active: #363C52;
  --theme-not-active: #52555E;
  --theme-btn-not-active: #2A2C38;
  transition: 0.3s ease;
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  background-color: var(--bg);
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper {
  height: 700px;
  width: 400px;
  border-radius: 22px;
  background-color: var(--bg-calc);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 30px var(--box-shadow-calc);
}

.header-calc-theme-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 40%;
  padding-top: 25px;
}
.header-calc-theme-display .switch-theme-container {
  width: 100px;
  min-height: 37px;
  background-color: var(--theme-btn-not-active);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.header-calc-theme-display .switch-theme-container::before {
  content: "";
  width: 50%;
  height: 100%;
  left: 0%;
  position: absolute;
  background-color: var(--theme-btn-active);
  border-radius: inherit;
  transition: 0.3s ease;
}
.header-calc-theme-display .switch-theme-container .theme-sun-icon, .header-calc-theme-display .switch-theme-container .theme-moon-icon {
  position: relative;
  z-index: 1;
  font-size: 24px;
  color: var(--theme-not-active);
  padding: 0px 10px;
  width: 50%;
}
.header-calc-theme-display .switch-theme-container .active {
  color: var(--theme-icons);
}
.header-calc-theme-display .switch-theme-container.switched::before {
  left: 50%;
  transition: left 0.3s ease;
}
.header-calc-theme-display .display-calc-input {
  width: 100%;
  background-color: transparent;
  color: var(--text);
  text-align: right;
  font-size: 60px;
  padding: 0px 15px;
  padding-bottom: 8px;
}
.header-calc-theme-display .display-calc-input:focus {
  outline: 0;
}

.main-calc {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-calc .calc-btns-section-x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 8px;
  flex-grow: 1;
}
.main-calc .calc-btns-section-x .calc-btn {
  height: 100%;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 38px;
  color: var(--text);
  user-select: none;
}
.main-calc .calc-btns-section-x .calc-btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
.main-calc .calc-btns-section-x .calc-btn[data-value="0"] {
  flex-grow: 1;
  grid-column: span 2;
}
.main-calc .calc-btns-section-x .calc-btn.special {
  color: var(--special-btn);
}/*# sourceMappingURL=main.css.map */