@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html.dark {
  --bg: #242424;
  --bg-calc: #161616;
  --box-shadow-calc: #161616;
  --greens: #1CCFB9;
  --reds: #B25758;
  --calc-btn-bg: #282B34;
  --text: #FBFFFF;
  --light-mode-key: #ffffff13;
  --theme-icons: #fff;
  --theme-btn-active: #2a2c34;
  --theme-not-active: #44464d;
  --theme-btn-not-active: #25262a;
  --cookies-div: #eee;
  
  transition: .3s ease;
}

html.light {
  --bg: #242424;
  --bg-calc: #f7f7f7;
  --box-shadow-calc: #afafaf5e;
  --greens: #1CCFB9;
  --reds: #B25758;
  --calc-btn-bg: #eeeeee;
  --text: #343333;
  --light-mode-key: #1f1f1f1c;
  --theme-icons: rgb(70, 70, 70);
  --theme-btn-active: #e3e3e4;
  --theme-not-active: #979797;
  --theme-btn-not-active: #c6c6c6;
  --cookies-div: #eee;
  
  transition: .3s ease;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin smaller-mobile {
  @media (max-width: 320px) {
    @content;
  }
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  background-color: var(--bg);
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.calc-wrapper {
  height: 700px;
  width: 400px;
  border-radius: 22px;
  background-color: var(--bg-calc);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 30px var(--box-shadow-calc);
  @include mobile {
    width: 92%;
    height: 95dvh;
    margin: 0 auto;
  }
  @include smaller-mobile {
    width: 95%;
  }
}

.header-calc-theme-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 40%;
  padding-top: 25px;

  .switch-theme-container {
    width: 100px;
    min-height: 37px;
    background-color: var(--theme-btn-not-active);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      width: 50%;
      height: 100%;
      left: 0%;
      position: absolute;
      background-color: var(--theme-btn-active);
      border-radius: inherit;
      transition: .3s ease;
    }
    .theme-sun-icon, .theme-moon-icon {
      position: relative;
      z-index: 1;
      font-size: 24px;
      color: var(--theme-not-active);
      padding: 0px 10px;
      width: 50%;
    }
    .active {
      color: var(--theme-icons);
    }
  }
  
  .switch-theme-container.switched::before {
    left: 50%;
    transition: left .3s ease;
  }
  .display-calc-input {
    width: 100%;
    background-color: transparent;
    color: var(--text);
    text-align: right;
    font-size: 60px;
    padding: 0px 15px;
    padding-bottom: 8px;
    @include mobile {
      font-size: 50px;
    }
    &:focus {
      outline: 0;
    }
  }
}

.main-calc {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 10px;
  .calc-btn {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 38px;
    color: var(--text);
    user-select: none;
    transition: background-color .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--light-mode-key);
      transition: .2s ease;
      @include mobile {
        background-color: transparent;
      }
    }
    &.greens {
      color: var(--greens);
    }
    &.reds {
      color: var(--reds);
    }
    &.special {
      color: var(--special-btn);
    }
    &[data-value="0"] {
      grid-column: span 2;
    }
  }
}